@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');

$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$green: #06842c;

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}


@mixin div-maker ($h, $w, $mrg, $brdr, $backGC, $brdrds) {
  height: $h;
  width: $w;
  margin: $mrg;
  border: $brdr;
  background-color: $backGC;
  border-radius: $brdrds;
}

@mixin buttonMaker ($brdr, $brdrds, $bxsh, $clr, $crsr, $fntSize, $txtalg) {
  border: $brdr;
  border-radius: $brdrds;
  box-shadow: $bxsh;
  color: $clr;
  cursor: $crsr;
  font-size: $fntSize;
  text-align: $txtalg
}

body {
  background-color: bisque;
  font-family:'Courier New', Courier, monospace
}

.cnt {
  @include div-maker(70%, 40%, auto, solid 2px, #68A7AD, 25px);
  margin-top: 40px;
  text-align: center;

  .header {
    margin-bottom: 50px;

    span {
      background-color: #C2DED1;
      border: none;
      cursor: pointer;
      padding: 2px 12px 3px 12px;
      text-decoration: none;
    }
  }
}


#center {
  font-size: large;
  text-align: center;
  padding: 0;
  
  div {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right:10px;
    

    input[type="checkbox"] {
      position: relative;
      padding-top: 10px;
      width: 1.5em;
      height: 1.5em;
      color: $black;
      border: 1px solid $gray;
      border-radius: 4px;
      appearance: none;
      outline: 0;
      cursor: pointer;
      transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

      &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 7px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
      }

      &:checked {
        color: $white;
        border-color: $green;
        background: $green;

        &::before {
          opacity: 1;
        }


    }

  }
}
}

label{
padding-top: 14px;
}

.edit {
  background-color: #68A7AD;
}

.remove {
  @include buttonMaker((1px, solid, #FF4742), 6px, (rgba(0, 0, 0, 0.1) 1px 2px 4px), #ffffff, pointer, 16px, center);

  background: #FF4742;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 50px;

  &:hover,
  &:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
    opacity: .5;

  }
}

.edit {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;

  &:disabled {
    cursor: default;
  }

  &:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
}


.header {
  background-color: #99C4C8;
  margin: 20px 30px;
  text-align: center;
  border-radius: 25px;
}

.missionChecked {
  display: block;
  text-decoration: line-through;
}