@mixin div-maker ($h, $w, $mrg, $brdr, $backGC, $brdrds) {
  height: $h;
  width: $w;
  margin: $mrg;
  border: $brdr;
  background-color: $backGC;
  border-radius: $brdrds;
}

@mixin buttonMaker ($brdr,$brdr,$bxsh, $clr, $crsr, $fntSize,$txtalg) {
  border: $brdr;
  border-radius: $brdrds;
  box-shadow:$bxsh ;
  color: $clr;
  cursor: $crsr;
  font-size: $fntSize;
  text-align: $txtalg

}

body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

.cnt {
  @include div-maker(600px, 390px, auto, solid 2px, #68A7AD, 25px);
  margin-top: 40px;
  text-align: center;

  .header {
    margin-bottom: 50px;

    span {
      background-color: #C2DED1;
      border: none;
      cursor: pointer;
      padding: 2px 12px 3px 12px;
      text-decoration: none;
    }
  }
}


#center {
  font-size: large;
  text-align: center;
  padding: 0;  
}

.edit{
background-color: #68A7AD;
}

.remove{
@include buttonMaker((1px,solid,#FF4742),6px ,(rgba(0, 0, 0, 0.1) 1px 2px 4px )
,#ffffff, pointer, 16px,center );

  background: #FF4742;
  box-sizing: border-box;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;

  &:hover,&:active{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  opacity: .5;

  }
}
.header {
  background-color: #99C4C8;
  margin: 20px 30px;
  text-align: center;
  border-radius: 25px;
}

.missionChecked {
  display: block;
  text-decoration: line-through;
}